<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuro UI | Thesis Project</title>

    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">
                <!-- Your logo/image goes here -->
                <img src="../static/images/logo.jpeg" alt="Logo" height="20" width="50">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        
                    </li>
                    <!-- Add more navigation items as needed -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="row d-flex justify-content-between">
        <!-- Left Column -->
        <div class="col-md-3 bg-light px-5">
            <div class="form-group">
                <label for="modelDropdown">Model:</label>
                <select class="form-control" id="modelDropdown">
                    <option selected>Select Model</option>
                    <option value="rnn_model">RNN Model</option>
                </select>
            </div>
            <div class="form-group datasetDropdownContainer">
                <label for="datasetDropdown">Dataset:</label>
                <select class="form-control" id="datasetDropdown" onchange="loadDatasetImage()" disabled>
                    <option selected>Select Dataset</option>
                    <option id="figure8Option" value="figure8">Figure 8</option>
                    <option id="lorenzOption" value="lorenz">Lorenz</option>
                    <option id="rosslerOption" value="rossler">Rossler</option>
                </select>
            </div>
            <div class="form-group optimizerDropdownContainer">
                <label for="optimizerDropdown">Optimizer:</label>
                <select class="form-control" id="optimizerDropdown" disabled>
                    <option selected>Select Optimizer</option>
                    <option value="dopamine">Dopamine</option>
                </select>
            </div>
        </div>

        <!-- Center Column -->
        <div class="col-md-5 py-4">
                    <!-- Dataset Image -->
                    <div id="imageContainer">
                        <img src="../static/images/placeholder.webp" alt="Image 2" class="img-fluid mt-5" height="300" width="600">
                    </div>
                    <figcaption class="text-center mt-1">Dataset Image</figcaption>
                    <button onclick="fetchImage()" class="mt-3 btn btn-primary">Fetch Plot</button>
                    <hr class="my-4"/>

                    <script>
                        function fetchImage() {
                            fetch('/get_image')
                                .then(response => response.blob())
                                .then(data => {
                                    const imageUrl = URL.createObjectURL(data);
                                    document.getElementById('imageContainer').innerHTML = `<img src="${imageUrl}" height="400" width="600" alt="Fetched Image">`;
                                });
                        }
                    </script>

                    <!-- Training Plot -->
                    <img src="../static/images/placeholder.webp" alt="Image 2" class="img-fluid" height="300" width="600">
                    <figcaption class="text-center">3D Loss Space</figcaption>

                <div class="col-md-6">
            <form action="/train" method="post">
                <button type="submit" class="mt-3 btn btn-primary">Train Model</button>
            </form>
                </div>
                <div id="console"></div>
                
                <!-- Display result message -->
                {% if result_message %}
                <p>{{ result_message }}</p>
                {% endif %}

                <hr class="my-4" />
        </div>

        <!-- Right Column -->
        <div class="col-md-3 bg-light px-5">
            <input type="number" placeholder="Hidden Dimension" id="hidden_dim" name="hidden_dim" class="mb-2"
                value="{{ hidden_dim }}">
            <!-- Repeat for other input fields with respective values -->
            <input type="number" placeholder="Data Length" id="data_length" name="data_length" class="mb-2"
                value="{{ data_length }}">
            <input type="number" placeholder="Batch Size" id="batch_size" name="batch_size" class="mb-2" value="{{ batch_size }}">
            <input type="number" placeholder="Sequence Length" id="sequence_length" name="sequence_length" class="mb-2"
                value="{{ sequence_length }}">
            <input type="number" placeholder="Target Length" id="target_length" name="target_length" class="mb-2"
                value="{{ target_length }}">
            <input type="number" placeholder="Epochs" id="epochs" name="epochs" class="mb-2" value="{{ num_epochs }}">
            <input type="text" placeholder="Tensorboard Name" id="tensorboard_name" name="tensorboard_name" class="mb-2"
                value="{{ tensorboard_name }}">
        </div>

    </div>
</div>

    <!-- Bootstrap JS and Popper.js from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="../static/js/select_dataset.js"></script>
    <script src="../static/js/load_models.js"></script>
    <script src="../static/js/select_optimizers.js"></script>

    <script>
        // Wrap the script in $(document).ready() to ensure it runs after the DOM is ready
        $(document).ready(function () {

            // Handle Model Dropdown Change Event
            $('#modelDropdown').on('change', function () {
                var selectedModel = $(this).val();

                // Enable/disable Dataset Dropdown based on the selected model
                $('#datasetDropdown').prop('disabled', selectedModel !== 'rnn_model');

                // Enable/disable Optimizer Dropdown based on the selected model
                $('#optimizerDropdown').prop('disabled', selectedModel !== 'rnn_model');
            });
        });
    </script>

    <script>
        function loadDatasetImage() {
            // Check if a dataset is selected
            var dropdown = document.getElementById("datasetDropdown");
            var selectedDataset = dropdown.options[dropdown.selectedIndex].value;
  
            if (selectedDataset !== "Select Dataset") {
                // Make an AJAX request to the Flask route based on the selected dataset
                fetch(`/get_image/load_${selectedDataset}_image`)
                    .then(response => response.json())
                    .then(data => {
                        if ('error' in data) {
                            console.error('Error:', data.error);
                            // Reset the image to the placeholder on error
                            document.getElementById('datasetImage').src = "../static/images/placeholder.webp";
                        } else {
                            // Update the 'src' attribute of the image tag
                             document.getElementById('datasetImage').src = data.image_path;
                        }
                    })
                    .catch(error => console.error(error));
            } else {
                // Reset the image to the placeholder when no dataset is selected
                document.getElementById('datasetImage').src = "../static/images/placeholder.webp";
            }
            }
    </script>

</body>

</html>