<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuro UI | Thesis Project</title>

    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- Your logo/image goes here -->
                <img src="../static/images/logo.jpeg" alt="Logo" height="70" width="150">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="#">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="#">About</a>
                    </li>
                    <!-- Add more navigation items as needed -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row p-5">
            <!-- Model Dropdown Column -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="modelDropdown">Model:</label>
                    <select class="form-control" id="modelDropdown">
                        <option selected>Select Model</option>
                        <option value="rnn_model">RNN Model</option>
                    </select>
                </div>
            </div>

            <!-- Dataset Dropdown Column -->
            <div class="col-md-4">
                <div class="form-group datasetDropdownContainer">
                    <label for="datasetDropdown">Dataset:</label>
                    <select class="form-control" id="datasetDropdown" disabled>
                        <option selected>Select Dataset</option>
                        <option value="figure8">Figure 8</option>
                        <option value="lorenz">Lorenz</option>
                        <option value="rossler">Rossler</option>
                    </select>
                </div>
            </div>

            <!-- Optimizer Dropdown Column -->
            <div class="col-md-4">
                <div class="form-group optimizerDropdownContainer">
                    <label for="optimizerDropdown">Optimizer:</label>
                    <select class="form-control" id="optimizerDropdown" disabled>
                        <option selected>Select Optimizer</option>
                        <option value="dopamine">Dopamine</option>
                    </select>
                </div>
            </div>

            <div class="row">
            <div class="col-md-6">
                <img src="../static/images/placeholder.webp" alt="Image 1" class="img-fluid">
                <figcaption class="text-center p-2">2D Loss Space</figcaption>
            </div>
            
            <!-- Image Field 2 -->
            <div class="col-md-6">
                <img src="../static/images/placeholder.webp" alt="Image 2" class="img-fluid">
                <figcaption class="text-center p-2">3D Loss Space</figcaption>
            </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light">
        <div class="container">
            <div class="row pt-3">
                <!-- Left Column -->
                <div class="col-md-4">
                    <img src="../static/images/footer.png" alt="Logo" height="70" width="150">
                    <ul class="list-unstyled mt-3">
                        <li>Chemnitz University of Technology</li>
                        <li>Faculty of Computer Science</li>
                        <li>Professorship of Neurorobotics</li>
                        <li>Straße der Nationen 62</li>
                        <li>09111 Chemnitz</li>
                    </ul>
                   
                </div>

                <!-- Middle Column -->
                <div class="col-md-4">
                    <h3>Shortcuts</h3>
                    <ul class="list-unstyled">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="#">Camera</a></li>
                        <li><a href="#">About Us</a></li>
                        <!-- Add more links as needed -->
                    </ul>
                </div>

                <!-- Right Column -->
                <div class="col-md-4">
                    <h3>Social</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <!-- Add more social media links as needed -->
                    </ul>
                </div>
            </div>

            <!-- All Rights Reserved Statement -->
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <p>Borneel Bikash Phukan &copy; <span id="currentYear"></span> All Rights Reserved </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and Popper.js from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="../static/js/select_dataset.js"></script>
    <script src="../static/js/load_models.js"></script>
    <script src="../static/js/select_optimizers.js"></script>

    <script>
        // Wrap the script in $(document).ready() to ensure it runs after the DOM is ready
        $(document).ready(function () {
            document.getElementById('currentYear').innerText = new Date().getFullYear();

            // Handle Model Dropdown Change Event
            $('#modelDropdown').on('change', function () {
                var selectedModel = $(this).val();

                // Enable/disable Dataset Dropdown based on the selected model
                $('#datasetDropdown').prop('disabled', selectedModel !== 'rnn_model');

                // Enable/disable Optimizer Dropdown based on the selected model
                $('#optimizerDropdown').prop('disabled', selectedModel !== 'rnn_model');
            });
        });
    </script>
</body>

</html>